.container {
  height: calc(100vh - 64px);
  display: flex;
}

.sidenav {
  width: 250px;
  color: white;
}

.mat-mdc-list-item {
  color: white !important;
}

.mat-icon {
  margin-right: 12px;
}

.content {
  padding: 20px;
}
.sidenav {
  transition: width 0.3s ease;
  overflow-x: hidden; /* Avoid text wrapping ugliness during shrinking */
}

.sidenav-container {
  height: 100vh;
}